@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.itensContent{
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
}

.ImageItem{
    width: 8rem;
    height: 12rem;
    justify-items: center;
}

.countItens{
display: flex;
flex-direction: column;

}
.countItens .countItensContainer{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap:5px;
}

.inputNumber{
    width: 2rem;
    text-align: center;
}
.addButton:disabled{
    font-size: 20px;
    
}
.addButton:enabled{
    font-size: 20px;
}